# Dependency directories
node_modules/
dist/

# Environment variables (Crucial for security)
.env
.env.local
.env.production

# Debug logs
npm-debug.log*
yarn-debug.log*
pino-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
